body {
	font-family: 'PT Serif', sans-serif;
	background: #fff no-repeat center center fixed;
	background-size: cover;
	color: #F9F9F9;
}

h1 {
	font-size: 126px;
	text-shadow: 2px 2px 5px #383838;
}

.container {
	padding-top: 40px;
}

.slide {
	position:relative;
	max-width: 400px;
	max-height: 400px;
	margin: 30px auto auto auto;
}

.slide .item {
	position: absolute;
	left: 0;
	border-radius: 50%;

	transition: opacity 1s ease-in-out;

	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 16s;
	overflow: hidden;
}

.slide .item > div {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 10px 0;

	font-weight: bold;
	color: white;
	text-align: center;
	background: #000000c9;
}

.text-content {
	margin-top: 420px;
	margin-bottom: 60px;
}
p {
	font-size: 2em;
	background: #000000c9;
	padding: .5em;
}

p a:link {
	color: #68baff;
}

#play-pause {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 1;
	cursor: pointer;
}

/* Hacky responsive queries goes here */
@media all and (max-width: 740px) {
	h1 {
		font-size: 96px;
	}
}
@media all and (max-width: 590px) {
	h1 {
		font-size: 70px;
	}
	.container {
		padding-top: 0;
	}
	.text-content {
		margin-top: 400px;
	}
}
@media all and (max-width: 360px) {
	h1 {
		font-size: 54px;
	}
	.text-content {
		margin-top: 320px;
	}
}

/* Slide stuff */
@keyframes fade {
	0% {
		opacity: 1;
	}
	17% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slide .item:nth-of-type(1) {
	animation-delay: 30s;
}
.slide .item:nth-of-type(2) {
	animation-delay: 24s;
}
.slide .item:nth-of-type(3) {
	animation-delay: 18s;
}
.slide .item:nth-of-type(4) {
	animation-delay: 12s;
}
.slide .item:nth-of-type(5) {
	animation-delay: 6s;
}
.slide .item:nth-of-type(6) {
	animation-delay: 0;
}
